<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage/mypage.css">
</head>
<body>

<div id="allSec">
    <div id="selectMenu">
        <ul id="menu">
            <li class="on">
                <a class="asd" href="/main/myPage.do" >등록한 상품</a>
            </li>
            <li class="">
                <a class="asd" href="">위시 리스트</a>
            </li>
            <li class="">
                <a class="asd" href="#">구해요</a>
            </li>
            <li class="">
                <a class="asd" href="#">1:1 문의</a>
            </li>
            <li>
                <a class="asd" href="/main/myPage/profile.do">정보 수정</a>
            </li>
            <li>
                <a class="asd" href="#" >회원탈퇴</a>
            </li>
        </ul>
    </div>

    <div id="two">
        <div id="menuCon">
            <div id="profileCon">
                <a href="/main/myPage/profile.do"><div id="imgDiv"><img th:src="@{${memProfile}}" alt="백그라운드"></div></a>
                <div id="profileInfo">
                    <div id ="infoBox" >
                        <div id="myinfo" >
                            <span th:text="${memNick}" id="nickName"> 태비서 </span><p class="inlineB">님 안녕하세요</p><br>
                            <span > 태비서 </span><p class="inlineB">가입일 : 2021-03-18</p>
                        </div>
                        <div id="listNum" class="inlineB">
                            <a class="borLeft" href="#">
                                <i class=""></i>팔아요 &gt;
                                <strong>5,319</strong>
                            </a>
                            <a class="borLeft" href="#">
                                <i class=""></i>구해요 &gt;
                                <strong>4,600</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fileBox">
                <div id="myContent">
                    <div id="goodsBox">
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                        <div class="goodsImg">
                            <img src="./imgae/camera.png" alt="">
                            <div class="goodsCon">
                                <h3>상품 제목</h3>
                                <p>10,000원</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>