<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daelim.transactions.mapper.DaoAttach">
    <sql id="attachColumns">
          attachIdx
        , boardIdx
        , saveName
        , size
        , deleteYn
        , insertTime
        , deleteTime
        , count
    </sql>

    <insert id="insertAttach" parameterType="list">
        INSERT INTO attach (
        <include refid="attachColumns" />
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
              #{item.idx}
            , #{item.boardIdx}
            , #{item.saveName}
            , #{item.size}
            , 'N'
            , NOW()
            , NULL
            , #{item.count}
            )
        </foreach>
    </insert>

    <select id="selectAttachTotalCount" parameterType="com.daelim.transactions.dto.AttachDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            attach
        WHERE
            deleteYn = 'N'
    </select>

    <select id="selectAttachList"  parameterType="com.daelim.transactions.dto.AttachDTO"  resultType="com.daelim.transactions.dto.AttachDTO">
        SELECT
            <include refid="attachColumns" />
        FROM
            attach
        WHERE
            deleteYn = 'N'
        ORDER BY
            boardIdx DESC
    </select>
</mapper>