<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daelim.transactions.mapper.DaoBoard">

    <insert id="insertBoard"  parameterType="com.daelim.transactions.dto.BoardDTO" useGeneratedKeys="true" keyProperty="boardIdx">
        insert into listboard(
        boardIdx,
        loginId,
        title,
        price,
        category,
        contents,
        deleteYn,
        insertTime,
        deleteTime
        )values (
        #{boardIdx},
        #{loginId},
        #{title},
        #{price},
        #{category},
        #{contents},
        IFNULL(#{deleteYn}, 'N'),
        #{insertTime},
        #{deleteTime}
        )
    </insert>

    <select id="selectBoard" parameterType="com.daelim.transactions.dto.BoardDTO">

    </select>

    <update id="updateBoard" parameterType="com.daelim.transactions.dto.BoardDTO">

    </update>

    <delete id="deleteBoard" parameterType="com.daelim.transactions.dto.BoardDTO">

    </delete>

    <select id="selectBoardTotalCount" parameterType="com.daelim.transactions.dto.BoardDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            listboard
        WHERE
            deleteYn = 'N'
    </select>

    <select id="selectBoardTotalCount2" parameterType="hashmap" resultType="int">
        SELECT
            COUNT(*)
        FROM
            listboard
        WHERE
            deleteYn = 'N'
            <if test="searchType == 1">
                AND category = #{params.categoriesProduct}
            </if>
            <if test="searchType == 2">
                AND title LIKE CONCAT('%', #{params.searchKeyword}, '%')
            </if>
    </select>

<!-- interface에서 list로 리턴값을 두고 mybatis에서 객채를 리턴하면 알아서 리스트 안으로 들어가게 되어있다함   -->
<!--파라미터로 넘어온 count는 main에 띄운 게시글의 마지막 idx값. 내림차순이므로 가장 작은 값-->
    <select id="selectBoardList"  parameterType="int"  resultType="com.daelim.transactions.dto.BoardDTO">
        SELECT
            boardIdx,
            loginId,
            title,
            price,
            category,
            contents,
            deleteYn,
            insertTime,
            deleteTime
        FROM
             listboard
        WHERE
            deleteYn = 'N'
        <!--count가 0이 아닐 때 새로운 조건 추가.-->
            <if test="count != 0">
                AND boardIdx <![CDATA[ < ]]> #{count}
            </if>
        ORDER BY
            boardIdx DESC
        LIMIT
            8
    </select>

    <select id="selectBoardListById"  parameterType="String"  resultType="com.daelim.transactions.dto.BoardDTO">
        SELECT
            boardIdx,
            loginId,
            title,
            price,
            contents,
            deleteYn,
            insertTime,
            deleteTime
        FROM
            listboard
        WHERE
            deleteYn = 'N'
        AND
            loginId = #{loginId}
        ORDER BY
            boardIdx DESC
    </select>

    <select id="selectBoardMemberCount" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            listboard
        WHERE
            deleteYn = 'N'
        AND
            loginId = #{loginId}
    </select>

    <select id="selectBoardListSearch"  parameterType="com.daelim.transactions.dto.BoardDTO"  resultType="com.daelim.transactions.dto.BoardDTO">
        SELECT
            boardIdx,
            loginId,
            title,
            price,
            category,
            contents,
            deleteYn,
            insertTime,
            deleteTime
        FROM
            listboard
        WHERE
            deleteYn = 'N'
        AND
            title LIKE CONCAT('%', #{searchKeyword}, '%')
        ORDER BY
            boardIdx DESC
        LIMIT
            #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selectBoardListCategory"  parameterType="com.daelim.transactions.dto.BoardDTO"  resultType="com.daelim.transactions.dto.BoardDTO">
        SELECT
            boardIdx,
            loginId,
            title,
            price,
            category,
            contents,
            deleteYn,
            insertTime,
            deleteTime
        FROM
            listboard
        WHERE
            deleteYn = 'N'
        AND
            category = #{categoriesProduct}
        ORDER BY
            boardIdx DESC
        LIMIT
            #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selectBoardDetail" parameterType="long" resultType="com.daelim.transactions.dto.BoardDTO">
        SELECT
            boardIdx,
            loginId,
            title,
            price,
            category,
            contents,
            deleteYn,
            insertTime,
            deleteTime,
            views,
            likeCount
        FROM
            listboard
        WHERE
            deleteYn = 'N'
        AND
            boardIdx = #{boardIdx}
    </select>

</mapper>