<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daelim.transactions.mapper.DaoTest">

    <select id="selectMemberList" parameterType="com.daelim.transactions.dto.MemberDTO" resultType="com.daelim.transactions.dto.MemberDTO">
        SELECT
            loginId,
            loginPw,
            name,
            email,
            nickName,
            status,
            createTime,
            loginFlag,
            profile
        FROM
            test
        WHERE
            status = 'N'

    </select>

    <select id="selectMemberTotalCount" parameterType="com.daelim.transactions.dto.MemberDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            test
        WHERE
            status = 'N'
    </select>
    <select id="selectLogin" parameterType="com.daelim.transactions.dto.MemberDTO" resultType="com.daelim.transactions.dto.MemberDTO">
        SELECT
            loginId,
            loginPw,
            name,
            email,
            nickName,
            status,
            createTime,
            loginFlag,
            profile
        FROM
            test
        WHERE
            loginId = #{loginId}
        AND
            loginPw = #{loginPw}
    </select>

    <select id="findLoginId" parameterType="com.daelim.transactions.dto.MemberDTO" resultType="com.daelim.transactions.dto.MemberDTO">
            SELECT
                loginId,
                loginPw,
                name,
                email,
                nickName,
                status,
                createTime,
                loginFlag,
                profile
            FROM
                test
            WHERE
                name = #{name}
             AND
                email =#{email}
    </select>

    <select id="findLoginPass" parameterType="com.daelim.transactions.dto.MemberDTO" resultType="com.daelim.transactions.dto.MemberDTO">
        SELECT
            loginId,
            loginPw,
            name,
            email,
            nickName,
            status,
            createTime,
            loginFlag,
            profile
        FROM
            test
        WHERE
            loginId = #{loginId}
        AND
            email =#{email}
    </select>
    
    <update id="updateByPass" parameterType="com.daelim.transactions.dto.MemberDTO">
        UPDATE
            test
        SET
            loginPw = #{loginPw}
        WHERE
            loginId = #{loginId}
    </update>

    <update id="updateByProfile" parameterType="com.daelim.transactions.dto.MemberDTO">
        UPDATE
            test
        SET
            profile = #{profile}
        WHERE
            loginId = #{loginId}
    </update>

    <select id="idToProfile" parameterType="String" resultType="com.daelim.transactions.dto.MemberDTO">
        SELECT
            loginId,
            loginPw,
            name,
            email,
            nickName,
            status,
            createTime,
            loginFlag,
            profile
        FROM
            test
        WHERE
             loginId = #{loginId}
    </select>

</mapper>