<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  th:fragment="search-pagination" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}"
      th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" class="paging-div">
    <li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(1,searchType)} ]])">
        <a href="javascript:void(0)"><span>&laquo;</span></a>
    </li>
    <li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.firstPage - 1, searchType)} ]])">
        <a href="javascript:void(0)" ><span>&lsaquo;</span></a>
    </li>
    <li th:each="pageNo : *{#numbers.sequence(firstPage, lastPage)}" th:class="${pageNo == params.currentPageNo} ? 'active'">
        <a href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(pageNo, searchType)} ]])"></a>
    </li>
    <li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1, searchType)} ]])">
        <a href="javascript:void(0)"><span>&rsaquo;</span></a>
    </li>
    <li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount, searchType)} ]])">
        <a href="javascript:void(0)"><span>&raquo;</span></a>
    </li>
</div>
</body>
</html>