<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>대림장터 메인홈페이지</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="initial-scale=0.8;" /> 
    <script src="https://kit.fontawesome.com/7725a9a983.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class ="center-align">
            <div class ="inline-block">
                <img src ="/images/main/logowhite.png" alt ="대림장터 로고" />
            </div>
            <div class ="util-group inline-block" th:if="${session.member != null}">
                <a href="/test/main">HOME</a>
                <a href="/test/main/logout">| 로그아웃</a>
                <a href="/test/main/myPage">| 마이페이지</a>
            </div>
            <div class ="util-group inline-block" th:if="${session.member==null}">
                <a href="/main">HOME</a>
                <a href="/login">| 로그인</a>
            </div>
        </div>
    </header>
    <nav>
        <div class ="center-align">
            <div class="flex-menu">
                <div class="menu-bar">
                    <i class="fas fa-bars fa-lg"></i>
                    <ul class="category">
                        <li>KeyWord</li>
                        <li>test</li>
                    </ul>
                </div>
                <div class="fieldset-block">
                    <fieldset>
                        <input placeholder="검색할 상품을 입력해주세요"/>
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </fieldset>
                </div>
                <div class="nav-util">
                    <a href="http://www.naver.com" class="flex-a">
                        <img src="/images/main/sale.png" alt="팔아요"/>
                        <span class="sale-text">팔아요</span>
                    </a>
                    <a href="http://www.naver.com" class="flex-a">
                        <img src="/images/main/find.png" alt="구해요"/>
                        <span class>구해요</span>
                    </a>
                    <a href="http://www.naver.com" class="flex-a">
                        <i class="far fa-bell fa-lg bell"></i>
                        <span class="sale-text">알림</span>
                    </a>
                </div>
            </div>
            <div class="div-fixed">
                <div class="div-fixed-one">
                    <div class="fixed-text">찜한상품</div>
                    <div><i class="fas fa-heart">0</i></div>
                </div>
                <div class="div-fixed-two">
                    <div class="fixed-text">최근본상품</div>
                    <div class="watch-count"></div>
                </div>
                <div class="div-fixed-three">
                    <div>TOP</div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="center-align">
            <div class="banner">
                <a href="http://www.naver.com">
                    <img src="/images/main/banner1.jpg" alt="배너1"/>
                </a>
            </div>
            <h2>상품 리스트</h2>
            <div class="product-list">
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다ddddddddddddd</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
                <div class="product-wrap">
                    <div class="product-img">
                        <img src="/images/main/product1.jpg" alt="남성지갑"/>
                    </div>
                    <div class="product-text">
                        <div class="product-content">남성 반지갑 팝니다</div>
                        <div class="product-info">
                            <div class="product-price">150,000원</div>
                            <span class="time">2일 전</span>
                        </div>
                    </div>
                </div>
            </div><!--상품리스트 끝-->
        </div><!--main안의 중앙정렬 끝-->
    </main>
    <footer>
        <p class="test">13916 경기도 안양시 동안구 임곡로 29 대림대학교 | 대표 김태양: 031-1111-2222 | 팩스 : 031-3333-4444</p>
        <p class="test">© 2020 BY Daelim University College. ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>