<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>대림장터</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="initial-scale=0.8;" />
    <script src="https://kit.fontawesome.com/7725a9a983.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <header th:replace="fragments/header :: main-header"> </header>
    <nav th:replace="fragments/nav :: main-nav"> </nav>
    <main>
        <div class="center-align">

        </div>
    </main>
    <footer>
        <p class="test">13916 경기도 안양시 동안구 임곡로 29 대림대학교 | 대표 김태양: 031-1111-2222 | 팩스 : 031-3333-4444</p>
        <p class="test">© 2020 BY Daelim University College. ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>