<!DOCTYPE html>
<html lang="ko">
<head>
    <title>가즈아</title>
    <link rel="stylesheet" href="study1style.css">
</head>
<body>
    <a href="https://www.naver.com">네이버 가즈아</a>
    <a href="#">하이퍼링크 없어지나요?</a> <!--하이퍼링크 안없어지네 이거 누르면 url에 # 추가되네 대박-->
    <a href="#hello">이러고 어떤 태그에 id를 지정하면 거기로 가지나보다!</a>
    <a href="#listtag">목록 태그로 드가자</a>

    <table border="10">
        <tr>
            <th>뭐꼬</th>
            <th>모르겠다</th>
        </tr>
        <tr>
            <td>이러고 하나 더 추가안하면 옆은 빈공간인가?</td>
        </tr>
    </table>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 id ="hello">여기로 가지늬 너무 글이 짧다.</h1>
    <ul id="listtag">
        <li>아령하세요1</li>
        <li>아령하세요2</li>
        <li>아령하세요3</li>
        <li> 중첩 목록이드아
            <ol>
                <li>중첩 드가자1</li>
                <li>중첩 드가자2</li>
                <li>중첩 드가자3</li>
            </ol>
        </li>
    </ul>
</body>
</html>