<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login/findIdResult.css">
    <title>아이디 찾기 결과</title>
</head>
<body>
<div class="container">
    <header>
        <div class="result">
            <h1>아이디 찾기 결과</h1>
        </div>
    </header>
    <div class="main">
        <div class="emailSend">
            회원님의 이메일주소로 <br>아이디를 발송해드렸습니다.
        </div>
    </div>
    <div class="btn">
        <div class="findpass">
            <a href="/test/findPw">비밀번호가 기억나지 않으세요?</a>
        </div>
        <div class="btnlogin">
            <a href="/login">로그인</a>
        </div>
    </div>
</div>
</body>
</html>