<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대림장터 | 로그인</title>
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/scripts/jquery-3.6.0.min.js"></script>
</head>
<body>
        <div class="container">
            <section class="login-form">
                <h1><a href="/main"><img src="/images/login/login_topLogo.png" alt="로고"></a></h1>
                <form th:action="@{/main/dlogin}" th:object="${loginInfo}" method="post">
                    <div class="int-area">
                        <input type="text" name="id" id="id"  th:field="*{loginId}"  required>
                        <label for="id">USER NAME</label>
                    </div>
                    <div class="int-area">
                        <input type="password" name="pass" id="pass" th:field="*{loginPw}"  required>
                        <label for="pass">PASSWORD</label>
                    </div>
                    <div class="falseCheck" th:if="${flag==false}">존재하지 않는 아이디입니다.</div>

                    <div class="btn-area">
                        <button id="btn"type="submit">LOGIN</button>
                    </div>
                </form>

                <div class="caption">
                    <a href="/login/findId">아이디 찾기 </a>|
                    <a href="/login/findPw"> 비밀번호 찾기 </a>|
                    <a href="/login/join"> 회원가입</a>
                </div>
            </section>
        </div>


    <script>
        let id = $('#id');
        let pass = $('#pass');
        let btn = $('#btn');

        $(btn).on('click',function(){
            if($(id).val() == ""){
                $(id).next('label').addClass('warning');
                setTimeout(function(){
                    $('label').removeClass('warning');
                },1500);
            }
            else if($(pass).val() == ""){
                $(pass).next('label').addClass('warning');
                setTimeout(function(){
                    $('label').removeClass('warning');
                },1500);
            }
        })
    </script>
</body>
</html>