<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login/login.css" />
    <title>대림장터 | 로그인</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class ="center-align">
            <div class = "login-size">
                <div class = "login">
                    <div><img src ="/images/login/logo.png" alt ="대림장터 로고" /></div>
                    <div id ="login-form">
                        <form th:action="@{/test/main/login}" method="post" th:object="${loginInfo}">
                            <input type="text" name="id" class="text-field" th:field="*{loginId}"placeholder="아이디">
                            <input type="password" name="password" class="text-field" th:field="*{loginPw}"placeholder="비밀번호">
                            <input type="submit" value="로그인" class="submit-btn">
                        </form>
                          <div>
                            <a href="/login/join" class="a-field">회원가입</a>
                            |
                            <a href="/test/findId" class="a-field">아이디 찾기</a>
                            |
                            <a href="/test/findPw" class="a-field">비밀번호 찾기</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>