<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>대림장터 메인홈페이지</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buyList.css">
    <meta name="viewport" content="initial-scale=0.8;" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <script src="https://kit.fontawesome.com/7725a9a983.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <style>
        .img_size{
            width: 1015px;
            height: 300px;
        }
        .bx-prev{
            display:none;
        }
        .bx-next{
            display:none;
        }

    </style>
</head>
<body>
<header th:replace="fragments/header :: main-header"> </header>
<nav th:replace="fragments/nav :: main-nav"> </nav>
<main>

    <div class="center-align">
        <div class="slider">
            <div><img class="img_size" src="/images/main/dz.jpg" alt=""></div>
            <div><img class="img_size" src="/images/main/gd.jpg" alt=""></div>
            <div><img class="img_size" src="/images/main/dz.jpg" alt=""></div>
            <div><img class="img_size" src="/images/main/gd.jpg" alt=""></div>
            <div><img class="img_size" src="/images/main/dz.jpg" alt=""></div>
        </div>
        <span><h2 class="inline-block">구해요 리스트</h2></span><span class="write"> <a href="/main/buylist.do"><button>글쓰기</button></a></span>
        <div class="product">
            <div th:if="${not #lists.isEmpty(boardList)}" th:each="row: ${boardList}" class="product-list">
                <a class="a_wrap" th:href="@{/main/buyList/view( idx=${row.boardIdx} )}">
                    <div class="list-wrap">
                    <div  class="product-img" >
                        <div class="product-text">
                            <div th:text="${row.title}" class="product-content">남성 반지갑 팝니다ddddddddddddd</div>
                            <div>
                                <div th:text="${row.category}" class="product-price">150,000원</div>
                                <span th:text="${row.insertTime}" class="time">2일 전</span>
                            </div>

                        </div>
<!--                        th:if="${not #lists.isEmpty(attachList) && row.boardIdx==img.boardIdx && img.count == 1}" th:each="img: ${attachList}"-->
                        <div  class="product-img" style="height: 80px;">
<!--                            th:if="${row.boardIdx==img.boardIdx && img.count == 1}-->
                            <img src="/images/main/dz.jpg" alt="남성지갑"/>
                            <!--          \images\board\210421            -->
                        </div>
                        <ul class="status"><li class="attach inline-block commonImg">1</li><li title="공감" class="vote inline-block commonImg">0</li><li title="댓글" class="comment inline-block commonImg">6</li></ul>
                    </div>
                </div></a>
                <div th:unless="${not #lists.isEmpty(boardList)}">
                    <div> 조회된 결과가 없습니다.</div>
                </div>
            </div>

        </div><!--상품리스트 끝-->
    </div>
    <!--main안의 중앙정렬 끝-->
</main>
<footer>
    <p class="test">13916 경기도 안양시 동안구 임곡로 29 대림대학교 | 대표 김태양: 031-1111-2222 | 팩스 : 031-3333-4444</p>
    <p class="test">© 2020 BY Daelim University College. ALL RIGHTS RESERVED</p>
</footer>
<script>
     let prev = document.querySelector('.bx-prev');
    let next = document.querySelector('.bx-next');
        $(document).ready(function(){
          $('.slider').bxSlider({
           auto:true,
           speed:500,
           pause:4000,
           mode:'fade',
           pager:false
          });

          $('.bx-viewport').mouseenter(function(){
            $('.bx-prev').css('display','inline-block');
            $('.bx-next').css('display','inline-block');
          })
          $('.bx-viewport').mouseleave(function(){
            $('.bx-prev').css('display','none');
            $('.bx-next').css('display','none');
          })


          $('.bx-next').mouseover(function(){
            $('.bx-next').css('display','inline-block');
            $('.bx-prev').css('display','inline-block');

          });
          $('.bx-prev').mouseover(function(){
            $('.bx-prev').css('display','inline-block');
            $('.bx-next').css('display','inline-block');

          });
        });



</script>
</body>
</html>