<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>forSale</title>
     <link rel="stylesheet" href="/css/main.css" />

    <meta name="viewport" content="initial-scale=0.8" />
    <script src="https://kit.fontawesome.com/7725a9a983.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script th:src="@{/plugin/common/moment.js}"></script>
    <link rel="stylesheet" href="/css/forSale.css" media="(min-width:600px)">
</head>
<body>
<header th:replace="fragments/header :: main-header"> </header>
<nav th:replace="fragments/nav :: main-nav"> </nav>
<div id="page" >
    <div class="forSalePage">
        <div class="pdHead">
            <div class="countbox">
                <div class="count">
                    <div class="viewCount">
                        조회수&nbsp;
                        <p class="views" th:text=${board.views}></p>
                    </div>
                    <div class="likeCount">
                        <img th:if="*{likeCheck == true}" src="/images/buyList/forsale/heart2.png" alt="#" class="heart">
                        <img th:unless="*{likeCheck == true}" src="/images/buyList/forsale/heart1.png" alt="#" class="heart">
                        찜 4
                    </div>
                    <div class="commentCount">
                        <img src="/images/buyList/forsale/speech-bubble.png" alt="#">
                        댓글 9
                    </div>
                </div>
                <div class="uplDate" >
                    작성일&nbsp;
                    <small th:text="${board.insertTime}">
                        2017-02-20 13:52
                    </small>
                </div>
            </div>
        </div>
        <div class="pdDetail">
            <div class="pdView">
                <div class="slider">
                    <div><img class="img_size" src="/images/buyList/forsale/product1.png" alt=""></div>
                    <div><img class="img_size" src="/images/buyList/forsale/product1.png" alt=""></div>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <div class="pdName">
                        <h2 th:text=${board.title}></h2>
                    </div>
                    <form action="http://www.naver.com">
                        <button type="submit" class="report">
                            <img src="/images/buyList/forsale/report.png" alt="report">
                        </button>
                    </form>
                </div>
                <div class="price">
                    <h2 th:text=${board.category}></h2>
                </div>
                <div class id="explain" th:text=${board.contents}></div>
            </div>
        </div>
    </div>
    <div class="other">
        <div class="userinfo">
            <div>
                <h2>유저 정보</h2>
            </div>
            <div>
                <div class="selfie">
                    <img src="/images/buyList/forsale/Gender_Neutral_User_icon-icons.com_55902.png" alt="#">
                </div>
                <div class ="userinfobox">
                    <h3 th:text="${board.loginId}">PAKA</h3>
                </div>
            </div>
        </div>
        <div class="combox">
            <div class="comLabel">
                <h2>
                    <label for="combox">Comment</label>
                </h2>
            </div>
            <form>
                    <span class="comSpace" th:if="${member != null}">
                        <input class="comset" type="text" id="comment" name="comment" maxlength="200"
                               placeholder="상품문의 입력" >
                        <button type="button" th:onclick="js:insertComment([[${board.boardIdx}]])">등록</button>
                        <button type="button" class =""th:unless="${member !=null}">로그인 시 가능</button>
                    </span>
                    <span class="comSpace" th:unless="${member != null}">
                            <input class="comset" type="text"  name="comment" maxlength="200"
                                   disabled placeholder="로그인 시 이용 가능합니다.">
                            <button type="button">등록</button>
                    </span>
                    <ul class="relpd">
    <!--                    <li>-->
    <!--                        <span class="name"> 김태양</span>-->
    <!--                        <span class="time">ㅇㅁㄴㅇㄴㅁㅇㅁㄴ</span>-->
    <!--                        <span class="desc">ㅇㅁㄴㅇㅇㅁㄴ</span>-->
    <!--                        <button type="button" class="delBtn" aria-hidden="true">버튼</button>-->
    <!--                    </li>-->
                    </ul>
            </form>
        </div>
    </div>
</div>
<footer>
    <p class="test">13916 경기도 안양시 동안구 임곡로 29 대림대학교 | 대표 김태양: 031-1111-2222 | 팩스 : 031-3333-4444</p>
    <p class="test">© 2020 BY Daelim University College. ALL RIGHTS RESERVED</p>
</footer>
<script th:inline="javascript">
    /*<![CDATA[*/
        document.querySelector('.likeCount').addEventListener('click', (e)=>{
            let session =  /*[[ ${session.member} ]]*/;
            let boardIdx = /*[[ ${board.boardIdx} ]]*/;
            if(session){
                console.log(document.querySelector('.heart').src);
                if(document.querySelector('.heart').src === "http://localhost:8080/images/buyList/forsale/heart1.png"){
                    alert('찜을 하셨습니다.');
                    document.querySelector('.heart').src ="/images/buyList/forsale/heart2.png";
                    let jsontest = {
                        sessionId : session.loginId,
                        idx : boardIdx,
                    };
                    $.ajax({
                        url : '/buyLikeAjax',
                        type : 'POST',
                        data : JSON.stringify(jsontest),
                        dataType : 'json',
                        contentType : "application/json; charset=UTF-8",
                        success : function(data){
                        },
                        error: function(){
                        }
                 });//ajax end
                }else{
                    alert('찜을 취소 하셨습니다.');
                    let jsontest = {
                        idx : boardIdx,
                    };
                    $.ajax({
                        url : '/buyLikeCancel',
                        type : 'POST',
                        data : JSON.stringify(jsontest),
                        dataType : 'json',
                        contentType : "application/json; charset=UTF-8",
                        success : function(data){
                        },
                        error: function(){
                        }
                 });//ajax end
                    document.querySelector('.heart').src ="/images/buyList/forsale/heart1.png";
                }
                return false;
            }else{
                alert('찜을 하기 위해서는 로그인을 해야 합니다!!');
            }
        });

    /*]]>*/
</script>
<script>
    //조회수 콤마 처리
    window.onload = function() {
        const viewCount = document.querySelector('.views');
        viewCount.textContent = Number(viewCount.innerText).toLocaleString();
    };

</script>
<script>
         let prev = document.querySelector('.bx-prev');
        let next = document.querySelector('.bx-next');
        $(document).ready(function(){
          $('.slider').bxSlider({
           auto:true,
           speed:500,
           pause:4000,
           mode:'fade',
           pager:false
          });

          $('.bx-viewport').mouseenter(function(){
            $('.bx-prev').css('display','inline-block');
            $('.bx-next').css('display','inline-block');
          })
          $('.bx-viewport').mouseleave(function(){
            $('.bx-prev').css('display','none');
            $('.bx-next').css('display','none');
          })


          $('.bx-next').mouseover(function(){
            $('.bx-next').css('display','inline-block');
            $('.bx-prev').css('display','inline-block');

          });
          $('.bx-prev').mouseover(function(){
            $('.bx-prev').css('display','inline-block');
            $('.bx-next').css('display','inline-block');

          });
        });
    </script>
<script>
    $(function() {
		printCommentList();
	});

	function printCommentList() {

		var uri = "[[ @{/buycomments/} + ${board.boardIdx} ]]";

		$.get(uri, function(response) {
		console.log(`${uri}`)
			if (response !== null) {
				var commentsHtml = "";

				$(response.commentList).each(function(idx, comment) {
				console.log(`${comment.writer}`)
					commentsHtml += `
						<li>
							<h4 class="name" style="display : inline-block";>${comment.writer}</h4>
							<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
							<span class="time">${moment(comment.insertTime).format('YYYY-MM-DD HH:mm:ss')}</span>
							<span class="desc">${comment.content}</span>
						</li>
						<hr>
					`;
				});

				$(".relpd").html(commentsHtml);
			}
		}, "json");
	}
	/*[- end of function -]*/
</script>
<script>
    function insertComment(boardIdx) {

	var content = document.getElementById("comment");

	if (content.value === "") {
		content.setAttribute("placeholder", "댓글을 입력해 주세요.");
		content.focus();
		return false;
	}

	var uri = "[[ @{/buycomments} ]]"
	let headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
	var params = {"boardIdx": boardIdx, "content": content.value, "writer": "관리자"};

	$.ajax({
		url: uri,
		type: "POST",
		headers: headers,
		dataType: "json",
		data: JSON.stringify(params),
		success: function(response) {
			if (response.result == false) {
				alert("댓글 등록에 실패하였습니다.");
				return false;
			}

			printCommentList();
			content.value = "";
		},
		error: function(xhr, status, error) {
			alert("에러가 발생하였습니다.");
			return false;
		}
	});
}
</script>
</body>
</html>